/* google font  */
body{
font-family: 'Poppins', sans-serif;
    }

/* banner-section start
................... */
.container{
    display: flex;
    justify-content: space-evenly;
}

 .banner{
   
     display: flex;
     justify-content: space-evenly;
     background-color: rgb(202, 233, 245);
     border-radius: 10px; 
     height: 300px;

     /* background-image: url("images/cover.jpg"); */
     /* background-repeat: no-repeat; */
        }

.top-word{
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 10px;
    margin: 10px;
        }

.title{
    font-weight: 800px;
        }

 .watch{
    text-decoration: none;   
        }

.button  {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 25px;
    border-radius: 10px;
    background-color: #45e976ab;
        }

.top-image{
    overflow: hidden;
        }
.top-image img {
    padding-left: 60px;
    padding-right: 100px;
    padding-top: 50px;
    height: 200px;
    width: 180px;  
        }

.banner:hover .top-image{
     
    transform: scale(1.2); rotate: (180deg 50%);
    transition: transform 2s ease-in-out;
        }

/* banner-section ends
................... */



/*........................
 players leader board/middle-section start 
........................ */

.middle-container{
    display: flex;
    justify-content: space-evenly;
    
                }

.box {

    /* background-color: rgb(250, 251, 252); */
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    /* border-radius: 10px; */
    
    }

.players{
    background-color: rgb(202, 233, 245);
    /* border-radius: 10px; */
   
    display: grid;
    align-items: center;

    
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    padding-left: 10px;
    padding-right: 10px;
    border-color: wheat;
    height: 450px;
    width: 200px;
    

    }

/* h2{
    margin-bottom: 0;
    margin-top: 0;
    }

h5{
        padding-bottom: 100px;
    }
 */

.players img{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    /* border-radius: 15px; */
    width: 190px;
    height: 130px;

    }
/*........................
 Player/middle-section Ends
........................ */



/* bottom-part start
.................... */

.schedule-container{
    display: flex;
    justify-content: space-evenly;
    
                }

.box-schedule{
    /* display: flex;
    justify-content: space-evenly; */
    /* background-color: rgb(250, 251, 252); */
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    border-radius: 15px;
    
    }

.teams{
    background-color: rgb(223, 245, 202);
    /* border-radius: 10px; */
   
    display: grid;
    align-items: center;

    
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    padding-left: 10px;
    padding-right: 10px;
    border-color: wheat;
    height: 120px;
    width: 220px;
    border-radius: 15px;
    

    }



.bottom-logo{
    display: flex;
    justify-content: space-evenly;
}

.bottom-logo img{
    width: 300px;
    height: 80px;
}

.media-icons{
    size: 2em;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: rgb(5, 30, 63);
    padding-top: 10px;
}


.copyright{
    display: flex;
    justify-content: center;
}



/* MEDIA QUERIES FOR MOBILE
........................... */

@media only screen and (max-width: 688px){


    .banner{
        grid-template-columns: repeat(1, 1fr);
        height: 600px;
    }

    .middle-container{
        width:100%; }

    .box{
        color: rgb(255, 71, 80);
        grid-template-columns: repeat(1, 1fr);
        }
    .box-schedule{
        
        grid-template-columns: repeat(1, 1fr);
        }
    

    .box-schedule, .banner, .box{
       flex-direction: column;
          }
}
 

/* MEDIA QUERIES FOR TABLETS 
.............................. */
@media only screen and (min-width: 600px) and (max-width:992px){


    .banner{
        grid-template-columns: repeat(1, 1fr);
        height: 600px;
    }

    .middle-container{
        width:100%; }

    .box{
        color: rgb(255, 71, 80);
        grid-template-columns: repeat(2, 1fr);
        }
    .box-schedule{
        
        grid-template-columns: repeat(2, 1fr);
        }

        .box-schedule, .banner, .box{
       flex-direction: column;
          }
}


    
